academictorrents==2.3.3
accelerate==0.28.0
addict==2.4.0
albumentations==1.4.2
apex==0.9.10dev
attr==0.3.2
autofaiss==2.17.0
autokeras==2.0.0
basicsr==1.4.2
bitsandbytes==0.43.0
blobfile==2.1.1
cityscapesscripts==2.2.2
ConfigParser==6.0.1
contextlib2==21.6.0
cryptography==42.0.5
Cython==3.0.10
diffusers==0.28.0.dev0
dl==0.1.0
dlib==19.24.2
docutils==0.20.1
dominate==2.9.1
dreamsim==0.1.3
easydict==1.13
einops==0.7.0
face_alignment==1.4.1
faiss==1.5.3
filelock==3.13.3
fire==0.6.0
Flask==3.0.2
flask_cors==4.0.0
flask_restful==0.3.10
fsspec==2024.3.1
ftfy==6.2.0
h5py==3.10.0
HTMLParser==0.0.2
huggingface_hub==0.22.2
hydra-core==1.3.2
imagecorruptions==1.1.2
img2dataset==1.45.0
imutils==0.5.4
imwatermark==0.0.2
insightface==0.7.3
instaboostfast==0.1.2
ipython==8.12.3
ipywidgets==8.1.2
Jinja2==3.1.3
jnius==1.1.0
keyring==25.0.0
kornia==0.7.2
krippendorff==0.6.1
lmdb==1.4.1
lpips==0.1.4
madgrad==1.3
matplotlib==3.8.3
mc==0.0
menpo==0.11.0
mock==5.1.0
mpi4py==3.1.5
multilingual_clip==1.0.10
mxnet==1.9.1
natsort==8.4.0
nltk==3.8.1
numpy==1.26.4
nvidia_cublas_cu12==12.1.3.1
nvidia_cuda_cupti_cu12==12.1.105
nvidia_cuda_nvrtc_cu12==12.1.105
nvidia_cuda_runtime_cu12==12.1.105
nvidia_cudnn_cu12==8.9.2.26
nvidia_cufft_cu12==11.0.2.54
nvidia_curand_cu12==10.3.2.106
nvidia_cusolver_cu12==11.4.5.107
nvidia_cusparse_cu12==12.1.0.106
nvidia_nccl_cu12==2.19.3
nvidia_nvjitlink_cu12==12.4.99
nvidia_nvtx_cu12==12.1.105
omegaconf==2.3.0
onnx==1.16.0
onnxruntime==1.17.1
onnxsim==0.4.36
openai==1.14.3
opencv_python==4.9.0.80
pandas==2.2.1
parrots==1.0.3
peft==0.10.0
Pillow==10.2.0
prettytable==3.10.0
prodigyopt==1.0
prometheus_client==0.20.0
protobuf==5.26.1
psutil==5.9.8
ptflops==0.7.2.2
pudb==2024.1
pyarrow==15.0.2
pycocotools==2.0.7
pyOpenSSL==24.1.0
pytorch_lightning==2.2.1
PyYAML==6.0.1
PyYAML==6.0.1
railroad==0.5.0
redis==5.0.3
regex==2023.12.25
safetensors==0.4.2
scann==1.3.1
scikit_learn==1.4.1.post1
scipy==1.12.0
segment_anything==1.0
skimage==0.0
Sphinx==7.2.6
statsmodels==0.14.1
taming_transformers==0.0.1
tensorboardX==2.6.2.2
tensorflow==2.16.1
terminaltables==3.1.10
thread==1.1.1
tifffile==2024.2.12
timm==0.9.16
torch==2.2.2
torch_tb_profiler==0.4.3
torchmetrics==1.3.2
torchvision==0.17.2
tornado==6.4
tqdm==4.66.2
transformers==4.39.2
trove_classifiers==2024.3.25
turbojpeg==0.0.2
urllib3_secure_extra==0.1.0
Werkzeug==3.0.1
xformers==0.0.25.post1
xmlrpclib==1.0.1
yapf==0.40.2
